
.center{
    width: 80%;
    height: 1600px;
    margin: 0 auto;
    overflow: scroll;
}

.header {
    width:flex;
    height:100px;
    margin: 0 auto;
    width: 60%;
    overflow: visible;
}


.header-left {
    float:left;
    display: flex;
    padding: 10px;
    align-items: center;
    overflow: visible;
}

span{
    width:20px;
}

.search-logo {
    width: 20px;
    height: 20px;
}

.search-input {
    height: 30px;
    width: 250px;
    overflow: hidden;
}

.menu-button{
    background-color: transparent;
    height: 30px;
    width: 100px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    background-color: white;
}

.dropdown-content a:hover {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    background-color:cyan;
}

.featured-books {
    padding: 20px;
    display:inline-flex;
    width: inherit;
}

.book {
    width: 250px;
    height: 450px;
    padding: 20px;
    text-align: center;
    float: left;

}

.book:hover {
    width: 250px;
    height: 450px;
    padding: 20px;
    cursor: pointer;
    float:left;
}

.cover-image {
    height: 325px;
    width: 225px;
}

.book-title {
    font-weight: bold;
}

.all-books {
    padding: 20px;
    display:inline;
    overflow-wrap: normal;
}

.bookRow {
    padding: 20px;
    display:inline-flex;
}