
.checkout-container {
    display: flex;
    justify-content: space-between;
}

.shipping-info {
    width: 40%;
    padding-left: 30%;
}

.payment-info {
    width: 100%;
}

.shipping-info label,
.shipping-info input,
.payment-info label,
.payment-info input {
    display: block;
    margin-bottom: 10px;
}

.shipping-info button,
.payment-info button {
    margin-top: 10px;
}

.order-summary {
    margin-top: 20px;
    padding-left: 30%;
    width: 30%;
}

.submit-order {
    margin-top: 60px;
    width: 40%;
    padding-left: 30%;
}

.cart-container {
    display: flex;
    flex-direction: column;
}

.Checkout-Box {
    margin-bottom: 20px;
    padding-top: 10px;
}