.book {
    width: 80%;
    height: 700px;
    margin: 0 auto;
}

.book-title {
    margin-bottom: 0;
}

.book-author {
    margin-top: 0;
    margin-bottom: 250px;
}

.book-cover {
    float:left;
    margin-right: 100px;
}

.book-details {
    width: 80%;
    margin: 0 auto;
}

.book-details-list {
    list-style-position: outside;
    list-style-type: none;
    margin-left: -30px;
}

.book-details-list>li {
    margin-top:10px;
    margin-bottom: 10px;
}

.quantity-input {
    width: 35px;
}

.cart-form > input {
    margin-top: 20px;
}

.add-to-cart-button {
    padding: 15px;
    background-color: yellow;
}

.center{
    width: 80%;
    height: 1600px;
    margin: 0 auto;
    overflow: scroll;
}

.header {
    width:flex;
    height:100px;
    margin: 0 auto;
    width: 60%;
    overflow: visible;
}


.header-left {
    float:left;
    display: flex;
    padding: 10px;
    align-items: center;
    overflow: visible;
}

span{
    width:20px;
}

.search-logo {
    width: 20px;
    height: 20px;
}

.search-input {
    background: image-set("./images/Search.svg") top right no-repeat;
    background-size: 10%;
    height: 30px;
    width: 250px;
    overflow: hidden;
}

.menu-button{
    background-color: transparent;
    height: 30px;
    width: 100px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    background-color: white;
}

.dropdown-content a:hover {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    background-color:cyan;
}


.links {
    padding-left: 10px;
}

.main-title {
    text-decoration: none;
    color: black;
}