.login-container {

    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    overflow-y: auto;
    flex-grow: 1;

}

.register-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vh;
    margin-left: 30%;
}

.signin-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vh;
    margin-right: 30%;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    width: 50%;
    margin-top: 3px;
}

.resetPassword {
    width: 50%;
    margin-top: 3px;
}